* {
   box-sizing: border-box;
}

h1,
h2,
h3 {
   text-align: center;
}

h2 {
   font-weight: 800;
   font-style: italic;
   /* text-decoration: underline; */
   /* text-decoration: line-through; */
   font-size: 30px;
}

.chapter {
   color: indigo;
}

#begin {
   color: orange;
   font-weight: bold;
}

.text {
   font-weight: 700;
   text-transform: uppercase;
}

.box {
   display: inline-block;
   width: 300px;
   height: 300px;
   background-color: green;
   color: black;
   padding: 20px;
   border: 3px solid black;
   margin: 20px;
   z-index: 5;
   vertical-align: middle;
}

a {
   padding: 20px;
   margin: 20px;
   width: 500px;
}

img {
   width: 200px;
   margin: 0 auto;
   display: block;
   /* float: left; */
}

nav {
   position: inherit;
   right: 0px;
   top: 0px;
   /* bottom: 150px; */
}

.example {
   position: relative;
}

.red {
   /* position: absolute;
   left: 160px;
   bottom: 20px; */
   height: 100px;
   background-color: red;
   /* z-index: -1; */
}
