h1 {
  color: deepskyblue;
  font-size: 50px;
  display: block;
  width: 250px;
  height: 200px;
  background-color: red;
}

h2 {
  color: deepskyblue;
}

.block {
  background-color: #333;
}

.block h3 {
  color: deepskyblue;
}

.block_color {
  background-color: coral;
  color: deepskyblue;
}

.block_color button {
  display: block;
  width: 250px;
  height: 200px;
  background-color: red;
}
