table{
	width: 900px;
	border: 1px solid red;
	border-spacing: 0px;
	border-collapse: collapse;


}

td{

	width: 300px;
	height: 30px;
	border: 1px solid #000;
}

.inside{
	margin: 20px;
	width: 550px;
	height: 100px;
	
}

#inside_block{
	height: 150px;
}

#inside_block2{
	width: 600px;
	height: 120px;
}



#tab_reg{
	border: 1px solid;
	border-collapse: separate;
}


.tr_reg{
	border: 1px solid;
}

#sub{
	text-align: center;
}