// Файл обнуляющих стилей
@import "nullstyle.scss";




body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.container {
	max-width: 1180px;
	margin: 0 auto;

}
.hi {
	background-color: #445162;
	padding: 50px 0;
	&__row {
	display: flex;
	justify-content: space-between;
	}
	&__body {
	color: #fff;
	padding: 0 30px 0 0;
	}
	&__title {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 60px;
	margin: 0 0 40px 0;
	}
	&__list {

	& li{
	list-style: none;
	background:url('../img/icons/icon.png')0 1px no-repeat;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 20px;
	line-height: 22px;
	padding: 0 0 0 36px;
	margin: 0 0 15px 0;

	}
	& li:last-child{
	margin: 0;
}

	}
	&__image {

	}
}


.title {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}




.what {
	padding: 50px 0;
	&__row {
	display: flex;
	}
	&__body {
	padding: 0 0 0 38px;
	flex:1 1 auto;
	}
	&__title {
	margin: 0 0 33px 0;
	}
	&__text {
	& p{
	margin: 0 0 25px 0;
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	}
	}
	&__image {
	flex:0 0 430px;
	& img{
	max-width: 100%;
	}
	}
}


.columns {
	background-color: #f5f5f5;
	padding:50px 0 20px 0;
	&__title {
	text-align: center;
	margin: 0 0 30px 0;
	}
	&__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;

	}
	&__column {
	padding: 0 8px;
	flex:0 1 50%;
	margin: 0 0 30px 0;
	}
}
.item {
	&__row {
	display: flex;
	}
	&__image {
	flex:0 0 200px;
	}
	&__body {
	flex:1 1 auto;
	padding: 0 0 0 15px;
	}
	&__title {
	color: #445161;
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 15px 0;
	}
	&__text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	}
}


.vertical {
	padding: 50px 0;
	&__title {
	text-align: center;
	margin: 0 0 30px 0;
	}
	&__body {
	max-width: 990px;
	margin:0 auto;
	}
	&__row {
	display: flex;
	margin: 0 -25.5px;
	}
	&__column{
	padding:0 25.5px;
	flex:0 1 33.333%;
	display: flex;
	}
	&__item {
	background-color: #445162;
	border: 2px solid #445162;
	color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 0 0 20px 0;
	}
	&__subtitle {
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 18px 0 12px 0;
	}
	&__label {
	text-align: center;
	background-color: #fff;
	color: #445162;
	font-size: 40px;
	line-height: 30px;
	padding: 18px 0;
	}
	&__text {
	flex:1 1 auto;
	font-size: 14px;
	line-height: 24px;
	padding: 20px;
	& p{
	margin: 0 0 15px 0;
	}
	& p:last-child{
	margin: 0;
	}
	}
	&__btn {
	text-align: center;
	background-color: #fff;
	color: #445161;
	font-size: 18px;
	display: block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	margin: 0 20px;

	}
}



.footer {
	background-color: #f5f5f5;

	&__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	}
	&__text {
color: #445162;
font-size: 12px;
letter-spacing: 0.3px;
	}
}
