*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



html{
	background: #A9A9A9;
}

body{
	width: 1440px;
	height: 1700px;
	background: #e8e8e8 url() 0 0 no-repeat;
	margin:0 auto;
}

.some {
	visibility: hidden;
}
.box {
	text-align: center;
	background: url(../img/bg.png) 0 0 no-repeat;
	width: 1190px;
	height: 1064px;
	margin:106px 108px 0 142px;
}
.title1 {
	letter-spacing: 2.8px;
	text-transform: uppercase;
	font-family: "Arial MT";
	color: #273d46;
	opacity: 0.6;
	margin:62px 0 0 0  ;
}

.text1 {
	width: 721px;
	margin:28px 264px 77px 205px ;
	color: #273d46;
	font-size: 36px;
	line-height: 50px;
}

img{
	border: 10px solid #fff;
	width: 821px;
	height: 541px;
}

.text2{
	font-family: "Times New Roman PSMT";
	width: 736px;
	text-align: justify;
	font-size: 24px;
	color: #273d46;
	opacity: 0.8;
	line-height: 40px;
	margin-top: 77px;
	margin-left: 192px;
	margin-bottom: 64px;
}


.list{
	text-align: left;
	margin-left: 192px;
}

.list li{
	font-size: 20px;
	line-height: 36px;
}

.list li:before{
	content: url(../img/check_icon.png);
	margin:0 10px 0 0;
}

.list li:nth-child(1) {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #273d46;
}
.list li:nth-child(2) {
	color: #80b7b3;
	font-style: oblique;
}
.list li:nth-child(3) {
	color: #273d46;
	font-weight: 700;
}
.list li:nth-child(4) {
	color: #273d46;
	text-decoration: line-through;
	opacity: 0.3;
}


.btn {
	display: block;
	margin:59px 0 0 192px;
	width: 199px;
	height: 44px;
	background: #80b7b3;
	border-radius: 20px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	color: #ffffff;
	font-size: 14px;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
}

.btn:after{
	content: url(../img/right_arrow.png);
}