// Файл обнуляющих стилей
@import "nullstyle.scss";




.wrapper{
	height: 100%;
	padding: 50px;
}

.block {}
.block__item {
	margin: 0 0 20px 0;
}
.block__title {
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}

.block__title:before,
.block__title:after{
	content: '';
	width: 10px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top:8px;
}

.block__title:before{
	transform: rotate(40deg);
	left: 0;
}

.block__title:after{
	transform: rotate(-40deg);
	left: 8px;
}




.block__text {
	display: none;
	margin: 10px 0 0 0;
}