body{
	background: url(../images/2020.jpg) right top no-repeat fixed; 
}


ul li a:hover{
	font-size: 22px; 
}

ul li a{
	font-family:  fantasy;
	color: black;
	background: white;
}


h1{
	text-align: center;
}

.art{
	font-family: sans-serif;
	color: #00BFFF;
	text-decoration: none;
	border-bottom: 2px solid #8A2BE2
}


.short{
	background: #DDA0DD;
	width: 500px;
}


.read:hover{
	text-decoration: none;
	color: #00BFFF;
}

.coment{
	color: grey;
}

em{
	color: red;
	font-style: oblique;
	font-weight: bold;
	font-size: 15px;
}

.uplist{
	
	list-style-image: url(../images/money.png);
	background: #2E8B57;
	font-size: 25px;
	width: 442px;
}

ul li ul{
	list-style-image: url(../images/arrow.png);
	font-size: 15px;
	background: #FFDAB9;

}

.last:after{
	content: 'new';
	color:white;
	background: red right;
	font-size: 12px;
	margin-left: 5px;
}

#bg{
	background: url(../images/tib.jpg);
}

.img{
	border: white solid 3px;
}

.img:hover{
	border: none;
	margin: 3px 3px 3px 3px ;	
}

.rg_inp{
	width: 160px;
}
#rg_pass{
	width: 260px;
}

input[value="http://"]:focus{
	color: blue;
	background: yellow;
}

#rg_res:active{
	background: #B22222;
}

#rg_sub:active{
	background: #32CD32;
}

.rg_chr:hover{
	border: dotted 2px red;
}

input[name='some'], .cn_inp:first-letter{
	text-transform: capitalize;
}